<nb-card>
  <nb-card-body>
    <p>
      If you’d like to get in touch, feel free to reach out via email or
      LinkedIn:
    </p>
    <h4>Connect with me</h4>
    <ul class="social-links">
      <li>
        <a href="mailto:stepanuk.ira@gmail.com">
          <nb-icon icon="email-outline"></nb-icon> stepanuk.ira&#64;gmail.com
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/iryna-stepaniukk/" target="_blank"
          ><nb-icon icon="linkedin"></nb-icon> LinkedIn</a
        >
      </li>
      <li>
        <a href="https://github.com/iryna-stepaniuk" target="_blank"
          ><nb-icon icon="github"></nb-icon> GitHub</a
        >
      </li>
    </ul>
  </nb-card-body>
</nb-card>
