<nb-card>
  <nb-card-header>About Me</nb-card-header>
  <nb-card-body>
    <p>
      Hi there, I’m <strong>Iryna Stepaniuk</strong>, a passionate frontend
      developer with a strong background in building user-friendly web
      applications. I specialize in Angular, TypeScript, and SCSS with a keen
      eye for detail and a focus on creating intuitive user experiences.
    </p>
    <p>
      My career journey began in QA Automation, where I honed my skills in
      testing, debugging, and ensuring software quality. Over time, my curiosity
      about web development grew, and I transitioned into a frontend development
      role. This unique combination of QA and development experience allows me
      to create high-quality, user-centric web applications.
    </p>
    <h2 class="fs-5">Skills I Bring to the Table:</h2>
    <ul>
      <li>
        <strong>Frontend Development</strong>: Angular, TypeScript, JavaScript,
        HTML5, SCSS, Bootstrap
      </li>
      <li>
        <strong>Quality Assurance</strong>: Automation testing with Playwright
        and Selenium
      </li>
      <li>
        <strong>UI/UX Knowledge</strong>: Familiar with Figma for prototyping
        and design
      </li>
      <li><strong>Version Control</strong>: Git and GitHub</li>
    </ul>
    <p>
      If you’re looking for a frontend developer who values attention to detail
      and high-quality code, I’d love to connect! Feel free to
      <a href="/contacts">contact me</a> or check out my
      <a href="/cv">CV</a> for more details.
    </p>
  </nb-card-body>
</nb-card>
